<a href="https://colab.research.google.com/github/warisaaom/KKU_Data_Mining/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First, we have to say which packages we are going to use by import them.

In [2]:
import pandas

Connect with Google drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

Create path variables to store where is the data files

In [4]:
import os

In [7]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

Then use pandas to load the data into the environment

In [8]:
search_click_df = pandas.read_csv(search_click)

In [9]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [10]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]


panda.jpg

First, we have to say which packages we are going to use by import them.
[ ]
import pandas
Connect with Google drive
[ ]
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'



Create path variables to store where is the data files
[ ]
import os
[ ]
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')
Then use pandas to load the data into the environment
[ ]
search_click_df = pandas.read_csv(search_click)
[ ]
search_click_df.head()


[ ]
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()


To check if the dimension of loaded data is correct as described in the description

In [11]:
search_click_df.shape

(1048575, 6)

In [12]:
search_click_df.shape

(1048575, 6)

It seem everything is ok, let's have fun with data

## 0. Point to data in the table

### normal indexing

In [14]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [15]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

##.iloc

In [17]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [18]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

##1 Missing Values

In [19]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [20]:
search_click_df.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

##Handling missing values 1

In [21]:
search_click_df_nm = search_click_df.dropna()

In [22]:
search_click_df_nm.isnull().any().any()

False

In [23]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

##Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออก
จากตาราง w_restarant จะทำให้ข้อมูลลดลงกี่ %

In [24]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

##Method 1.5

In [25]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [26]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

##Method 2 (raplace with reasonable value)

we are replacing missing value in the number of chains with 0

In [27]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [28]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

##Method 2.1 (raplace with unknown value)

##Method 3

In [29]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

##[PD] select data

In [30]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [31]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

##หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [32]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

392.5854715094968

1.เลือกเฉพาะ กทม

In [33]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

2.ลบ missing

In [34]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                   เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

3 เลือกเฉพาะ column 'avg_price'

In [35]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4 หาค่าเฉลี่ย

In [36]:
bkk_table_dp_avg_price.mean()

392.5854715094968

แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [37]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [38]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

##Ex 9 หาราคาเฉลี่ยของร้านในจังหวัดเชียงใหม่

[PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

In [40]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                            name   city_name   avg_price
36                   Wrap Master  Chiang Mai  188.415948
40                         Sozen  Chiang Mai  188.415948
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai  188.415948
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai  188.415948
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai  188.415948

In [41]:
pd_concat = pandas.concat([bkk_table,cm_table])
pd_concat

                           name                    city_name   avg_price
1                  Corner House  Bangkok Metropolitan Region  392.585472
3                นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4                   Buono Caffe  Bangkok Metropolitan Region  392.585472
7                      Sazanami  Bangkok Metropolitan Region  392.585472
10               Rotee Me Chabu  Bangkok Metropolitan Region  392.585472
...                         ...                          ...         ...
246783            ส้มตำลำฮิมกอง                   Chiang Mai  188.415948
246803  ไก่ทอดปักษ์ใต้ นายหัวโต                   Chiang Mai  188.415948
246808        แคลิฟอร์เนียเวร็ป                   Chiang Mai  188.415948
246813   TOONGs COFFEE Roasters                   Chiang Mai  188.415948
246826                ลาบเขยยอง                   Chiang Mai  188.415948

[116258 rows x 3 columns]

## Method 3 Looping (concat)

1. ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [42]:
all_cities = set(new_table['city_name'])
len(all_cities)

479

2. คำนวณค่า mean ของ column 'city_name' เพื่อเก็บไว้เติมใส่
เมืองที่เป็น missing ทุกร้าน

In [43]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

327.44728783902013

3. สร้าง list ของตารางของทุกๆจังหวัด

In [44]:
all_cities_list = []
for each_city in list(all_cities):

    # cm_table = new_table[new_table['city_name']=='Chiang Mai']
    # cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
 
    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

4. สร้างตารางจาก list ของตาราง ด้วย pd.concat

In [45]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

                          name               city_name  avg_price
75546          Borje Resturant  Ličko-senjska županija        NaN
161388            Hotel Jezero  Ličko-senjska županija        NaN
224637          Bistro Vucnica  Ličko-senjska županija        NaN
20126     Baquette & Chocolate                 Lao Cai        NaN
26302   Highland Bakery - Cafe                 Lao Cai        NaN
...                        ...                     ...        ...
222441           Coffee Lovers                  Prague        NaN
226458                TRDELNIK                  Prague        NaN
238188                 Gui Lin                  Prague        NaN
238844           Cervena Sedma                  Prague        NaN
246027                 Phollow                  Prague        NaN

[246847 rows x 3 columns]

5. เติมค่า mean ของทั้งตารางให้กับจังหวัดที่ไม่มี mean

In [46]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

name         False
city_name    False
avg_price    False
dtype: bool

##1. Adding a field from other table
or merge the entire tables https://www.kaggle.com/crawford/python-merge-tutorial/#

##one selected column
.map()

In [47]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])

In [48]:
search_click_df

        click_timestamp  ...                  bu_name
0               11:38.9  ...        ปูดองอันยอง Eight
1               30:51.3  ...                Yoshinoya
2               32:09.6  ...  The Hub Cafe and Eatery
3               00:59.8  ...     ซั่งไห่ เสี่ยวหลงเปา
4               23:36.8  ...                Yoshinoya
...                 ...  ...                      ...
1048570         05:28.8  ...              เสกแจ่วฮ้อน
1048571         15:28.8  ...    ก๋วยเตี๋ยวหมูหน่อกะลา
1048572         11:49.4  ...      Laemcharoen Seafood
1048573         10:33.7  ...     เอี่ยวไถ่ สุกี้โบราณ
1048574         13:51.4  ...                  Icy-me

[1048575 rows x 7 columns]

##merge two tables
.merge()

In [49]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')

In [50]:
merged_table

        click_timestamp  ... delivery
0               11:38.9  ...      1.0
1               30:51.3  ...      1.0
2               32:09.6  ...      NaN
3               00:59.8  ...      1.0
4               23:36.8  ...      1.0
...                 ...  ...      ...
1048570         05:28.8  ...      NaN
1048571         15:28.8  ...      NaN
1048572         11:49.4  ...      1.0
1048573         10:33.7  ...      1.0
1048574         13:51.4  ...      NaN

[1048575 rows x 39 columns]

# 4. _One-hot-encoder_ for Categorical data

In [51]:
w_restaurant_df = pandas.get_dummies(w_restaurant_df, columns=['wifi'])

In [52]:
w_restaurant_df

            id                                  name  ...  wifi_1.0  wifi_2.0
0            2                      นครินทร์ทันตกรรม  ...         0         0
1            4                          Corner House  ...         0         0
2            5                        วัดโลกยสุธาราม  ...         0         0
3            6                        นันท์คาราโอเกะ  ...         0         0
4            7                           Buono Caffe  ...         1         0
...        ...                                   ...  ...       ...       ...
246842  340068                            Sushi Tama  ...         0         0
246843  340070                     สะบายดี คาราโอเกะ  ...         0         0
246844  340074                      สเต็กแม่&กาแฟลูก  ...         0         0
246845  340079                              Mom Made  ...         0         0
246846  340091  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...         0         0

[246847 rows x 34 columns]

In [53]:
groups = search_click_df.groupby('business_id')

In [54]:
groups

In [55]:
groups.count()

             click_timestamp  search_id  ...  ads  bu_name
business_id                              ...
2.0                        4          4  ...    4        4
5.0                        2          2  ...    2        2
6.0                        6          6  ...    6        6
7.0                        3          3  ...    3        3
14.0                       5          5  ...    5        5
...                      ...        ...  ...  ...      ...
340060.0                   4          4  ...    4        4
340063.0                   1          1  ...    1        1
340067.0                   2          2  ...    2        2
340068.0                   6          6  ...    6        6
340070.0                   9          9  ...    9        9

[141536 rows x 6 columns]

In [56]:
count_table=groups.count().reset_index()

In [57]:
w_restaurant_df['num_click'] = w_restaurant_df['id'].map(count_table.set_index('business_id')['ads'])

In [58]:
w_restaurant_df

            id                                  name  ...  wifi_2.0  num_click
0            2                      นครินทร์ทันตกรรม  ...         0        4.0
1            4                          Corner House  ...         0        NaN
2            5                        วัดโลกยสุธาราม  ...         0        2.0
3            6                        นันท์คาราโอเกะ  ...         0        6.0
4            7                           Buono Caffe  ...         0        3.0
...        ...                                   ...  ...       ...        ...
246842  340068                            Sushi Tama  ...         0        6.0
246843  340070                     สะบายดี คาราโอเกะ  ...         0        9.0
246844  340074                      สเต็กแม่&กาแฟลูก  ...         0        NaN
246845  340079                              Mom Made  ...         0        NaN
246846  340091  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...         0        NaN

[246847 rows x 35 columns]

In [60]:
search_click_df.to_csv('search_click_extracted_time.csv')

In [59]:
## Build a table which only shows id, name, rating, num_clicks. How?

# 12. Save to use with other applications

# 8. Group By -- Aggregation
https://www.kaggle.com/crawford/python-groupby-tutorial#

#Remove Outlier (boxplot)

###Quiz วาด boxplot ของค่า 'avg_price' ของตาราง all_no_missing (แนวนอน)

In [5]:
from matplotlib import pyplot as plt

In [6]:
plt.boxplot(all_no_missing['avg_price'],vert=False)

NameError: ignored